html{
    padding: 0;
    margin: 0;
}
*{
   padding: 0;
   margin: 0;
}
#search-btn{
 width: 25vw;
 border-radius: 10px;
 border: 1px solid grey;
}
#form{
    width:50vw;
    display: flex;
    gap:5px;
    padding: 1vw 1vw;
}
#search-input{
    width: 50vw;
    border: 1px solid grey;
    border-radius: 10px;
}
/* .nav{
     width: 100% !important;
    background-color: rgb(105, 102, 102)!important;
} */
/* .nav-container{
    width: 100%!important;
    height: -10%!important;
} */
/* .ul-nav{
    width:100%!important;
    display: flex!important;
    justify-content: flex-start!important;
} */
/* .ul-nav li{
    margin-right: 50px!important;
    list-style-type: none!important;
    font-size: 1.5vmax!important;
    color:wheat !important;
} */
/* .title{
    color: wheat;
    font-size: 1.8vmax !important;
} */


body{
   margin: 0;
   padding: 0;
}
.main-nav{
    width: 100%;
    height: 100%;
    background-color:lightseagreen;
    position: relative;
}
.nav-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
}
.nav-element{
    display: flex;
     gap:4vw;
}
.nav-logo h3{
    font-size: 2vw;
}
.nav-logo h3 a{
    text-decoration: none;
    color: rgb(251, 252, 253);
}
.nav-element h5{
    font-size:1.5vw;
}
.nav-element h5 a{
    text-decoration: none;
    color: rgb(249, 250, 251);
}

@media  (max-width:600px) {
    .nav-logo h3{
    font-size: 7vw;
}
.nav-element h5{
    font-size:4vw;
}
}
/* 
.list-div{
    display: flex!important;
    justify-content:center!important;
} */
.list-ul{
    display: flex!important;
    flex-flow: row wrap!important;
    justify-content: center!important;
    gap:8px;
}
/* .list-container{
    width: %!important;
} */
/* @media only screen and (max-width:500px) {
    .list-container{
        width:100%;
    }
    .nav{
        width:450px;
    }
    .title{
        margin-right: 180px;
    }
    .ul-nav li{
        font-size: 1.2em;
        margin-top: 8px;
       
        
    }
    
} */
/* .image-container{
    margin: 5px;
} */
.form-div{
    width: 100%;
    display: grid;
    justify-content: center;
    margin-bottom: 20%;
 
}
.form-container{
   width: 50vw;
   height: 40vh;
}
.form-container input{
        width: 100%;
        height: 100%;
        margin-bottom: 2%;
        margin-top: 10px;
        font-size: large;
        border: none;
        box-shadow: 5px 3px 3px rgb(63, 62, 62);
  
}
.form-container label{
    font-size: 2vmax;
    margin-bottom: -1%;
    color: rgb(62, 60, 56);
    border-bottom: 1px solid rgb(20, 19, 19);
}

/* .btn{
    width: 100%;
    height: 200%;
} */
/* 
@media only screen and (max-width:412px){
    .show{
        height: 100vh;
    }
    .list-div{
        align-items: center;
    }
    
} */
.back{
    background-color: red;
}
.d-none{
    display: none !important;
}

/* changes in show.ejs for making responsiveness */
#image{
    width: 50vw;
    height: 40vw;
}
.main-div{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.author-div{
    width: 50vw;
  
}
.author-div h3{
   font-size: 2vw;
}
.info-div{
    width: 50vw;
}
.info-div h4{
    font-size: 1.5vw;
}
.review-div{
    width: 50vw;
}
.review-div h2{
    font-size: 3vw;
}
.review-div h5{
    font-size: 1.5vw;
}
textarea{
    width: 50vw;
}
hr{
    width: 50vw;
}
.input-div{
    width: 50vw;
}
.input-div h3{
    font-size: 1.5vw;
}
#btn{
    width: 10vw;
    font-size: 1.5vw;
}
#range{
    width: 50vw;
}
.dlt-btn{
    width: 50vw;
}
.activity-btn{
    width: 10vw;
    font-size: 1.5vw; 
}

@media (max-width:450px) {
    #image{
    width: 80vw;
    height: 70vw;
}
.author-div h3{
   font-size: 5vw;
}
.info-div h4{
    font-size: 3.5vw;
    text-align: justify;
}
.review-div h2{
    font-size: 5vw;
}
.review-div h5{
    font-size: 4vw;
}
textarea{
    width: 70vw;
}
hr{
    width: 80vw;
}
.input-div h3{
    font-size: 3vw;
}
#btn{
    width: 20vw;
    font-size: 3vw;
}
#range{
    width: 70vw;
}
.activity-btn{
    width: 20vw;
    font-size: 3vw;
}
}